@use "sass:math";

@import "modules/reset";
@import "modules/variables";
@import "modules/grid";
@import "modules/layout";
@import "modules/utilities";

.options-editor {
  border-color: $brand-primary;
  border-width: 4px 0px;
  border-style: solid;
  padding: 6px;
}

.heading {
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;

  h1 {
    font-size: 22px;
  }
}

.options-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.target-url {
  width: 100%;
  border-radius: $border-radius;
  padding: math.div($border-radius, 2);
}

.option {
  display: flex;
  flex-flow: row;
  align-items: center;
  label {
    font-weight: bold;
  }
  input[type],
  [type="checkbox"] {
    appearance: auto;
    margin: 5px;
  }
}

.btn-done {
  align-self: center;
  margin: 5px;
}
