@import "modules/reset";
@import "modules/variables";
@import "modules/grid";
@import "modules/layout";
@import "modules/utilities";

.heading {
  margin: 1em auto;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;

  h1 + .lead {
    margin-top: 0.2em;
  }
}

.content {
  min-height: 300px;
  #main {
    background-color: transparentize($color: $brand-primary, $amount: 0.8);
    border-radius: $border-radius;
  }
}

.target-url {
  width: 100%;
  border-radius: $border-radius;
  padding: $border-radius/2;
}

.option {
  label {
    font-weight: bold;
  }
  input[type], [type=checkbox] {
    appearance: auto;
    margin: 5px;
  }
}
